.navbar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    background-color: black;
    padding: 1rem 2rem;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
  }
 
  
  .jkhskjh {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-logo > a {
    color: white;
    text-decoration: none;
  }
  

